.App .shortcuts_contain {
  z-index: 3;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 20px;
  /* background-color: aqua; */
}
.App .shortcuts_contain .shortcut {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.App .shortcuts_contain .shortcut .content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-sizing: border-box;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.App .shortcuts_contain .shortcut .content_box img {
  max-width: 100%;
  max-height: 100%;
}
